*{
  margin-top:0;
  margin-bottom:0;
}

body{
  font-family: 'Montserrat';
  font-size: 16px;
}


h1{
  color: #6EC7DC;
  font-size: 25px;
}

.titre_champ{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
color: #4083E5;
margin-bottom: 25px;
}

.titre2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
color: #233368;
}


header{
  background-color: #26326a;
  padding: 15px;
  margin-left: 0;

}

header img{
  margin-top: 10px;
}

.titre1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 49px;
text-align: right;
/* identical to box height */


color: #6EC6DB;
}

.titre5{
  font-family: 'Montserrat';
  font-style: normal;

  font-size: 20px;
  line-height: 49px;
  /* identical to box height */
  text-align: right;
  margin-top: -35px;


  color: #FFFFFF;
}




.lecture_header{
background-color: #D9D9D9;
height:65px;
padding: 10;

}

.lecture_section{
background-color: #E8E7E7;
height: 800px;
margin-left: -5px;
margin-top: -10px;
color:#233368;
font-size: 16;
padding-top:15px ;
font-weight: bold;




}

.saisie_section{
padding: 50px ;
padding-left: 50px ;


}

label[class="result"] {
    color: red;
}

label{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 17px;
font-weight: bold;
margin: 20px;
color: #233368;


}


.btn-next{
  background-color:#4083E5;
  color:white;
}

select {
    outline: 0;
    padding: 4px;
    background: #DCEBFD;
border: 0.75px solid #2663EE;
border-radius: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #2663EE;
}

select::-webkit-scrollbar {
    display: none;
}

h2 {
    font-size: larger;
    font: bold;
    color: green;
}

.titre2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

text-transform: uppercase;

color: #4083E5;

}


.titre4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */
padding-top: 15px;
font-weight: 600;
color: #233368;
}

fieldset {
    padding: 30px;
    border: 3px solid #118e37;
    background: #f6f8ff;
}

.champs{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #2874E5;

}

.marges{
  margin:50px;
  padding-left:50px;
}

/*.onglet {
  font-size: 4px;
}*/

.scroll {
  overflow-x: scroll;
  white-space: nowrap;
 
}

.icone{
  text-align: right;
  color:#233368;
  margin-top: 10px;
}
